;
; OpenBadges Lib configuration example for RSA keys.
;

; Paths to the keys and log
[paths]
base         = .
base_key     = ${base}/keys
base_log     = ${base}/log
base_image   = ${base}/images
base_json    = ${base}/json

; Log configuration. Stored in ${base_log}
[logs]
general = general.log
signer  = signer.log

;Key configuration. Stored in ${base_key}
[keys]
private   = ${paths:base_key}/sign_rsa_key.pem
public    = ${paths:base_key}/verify_rsa_key.pem

; Configuration of the OpenBadges issuer.
[issuer]
name           = OpenBadge issuer
url            = https://www.issuer.badge
image          = issuer_logo.png
email          = issuer_mail@issuer.badge
publish_url    = https://openbadges.issuer.badge/issuer/
revocationList = revoked.json

;Badge configuration sections.
[badge_1]
name        = Badge 1
description = Given to any user that install this library
image       = image_badge1.svg
criteria    = https://www.issuer.badge/issuer/badge_1/criteria.html
verify_key  = http://www.issuer.badge/issuer/badge_1/verify_rsa_key.pem
;alignement  =
;tags        =

[badge_2]
name        = Badge 2
description = Given to any user that promote the library
image       = image_badge2.png
criteria    = https://www.issuer.badge/issuer/badge_2/criteria.html
verify_key  = http://www.issuer.badge/issuer/badge_2/verify_rsa_key.pem
;alignement =
;tags       =

