# https://python-packaging-user-guide.readthedocs.org/en/latest/distributing.html

recursive-include openbadgeslib *
recursive-include tests *
recursive-include docs *
global-exclude __pycache__/*
include *.txt MANIFEST.in
